body {
  font-size: 24pt;
  letter-spacing: 1pt;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  transform-origin: top left;
  width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content min-content;
}

.content {
  display: grid;
  grid-template-columns: 50pt auto;
}

.content-key {
  font-size: 38pt;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 240pt;
  height: 240pt;
  pointer-events: none;
  backdrop-filter: blur(3px);
}

.attribs-row {
  display: grid;
  grid-template-columns: 34pt 174pt 80pt;
}

.equips-row {
  display: grid;
  grid-template-columns: min-content min-content 140pt 80pt;
}

.inventory-row {
  display: grid;
  grid-template-columns: min-content 174pt 80pt;
}

.enemy-select-row {
  display: grid;
  grid-template-columns: min-content 140pt 80pt;
}

.combat-view {
  display: grid;
  grid-template-columns: max-content max-content;
}

.combat-grid-item {
  max-width: 174pt;
  width: 174pt;
  padding-bottom: 12pt;
}

.combat-grid-item.log {
  padding-top: 16pt;
  font-size: 12pt;
}
.combat-grid-item.character {
  font-size: 56pt;
}
.combat-grid-item.character .trophy {
  font-size: 24pt;
}

.combat-control {
  padding-bottom: 12pt;
}

.full-width-item {
  grid-column-start: 1;
  grid-column-end: 3;
}

.combat-detail-grid {
  display: grid;
  grid-template-columns: 32pt auto;
}

.hidden {
  display: none;
}
