body {
  font-family: monospace;
}

button {
  font-size: 20pt;
  padding: 2pt;
  width: 32pt;
  height: 32pt;
}

html,
body {
  height: 100%;
  scrollbar-width: none;
}

.blur {
  height: 100%;
  /* filter: blur(6px); */
}

.wrapper {
  display: flex;
  justify-content: center;
  font-size: 22pt;
}

/* Inventory */

.inventory {
  pointer-events: none;
  position: fixed;
  left: 0pt;
  bottom: 0pt;
  width: 100%;
  letter-spacing: 4pt;
  padding-top: 4pt;
  padding-left: 4pt;
  padding-bottom: 4pt;
  font-size: 16pt;
}

.inventoryEntry {
  pointer-events: auto;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.inventoryEntryCount {
  font-size: 10pt;
  letter-spacing: 0pt;
  padding-right: 2pt;
}

.ui {
  position: fixed;
  left: 0pt;
  top: 0pt;
  width: 800pt;
  display: block;
  letter-spacing: 4pt;
  padding-top: 4pt;
  padding-left: 4pt;
  padding-bottom: 4pt;
  font-size: 16pt;
}

.ui>div {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.info {
  width: 240pt;
  height: 44pt;
  font-size: 10pt;
  line-height: 12pt;
  vertical-align: bottom;
  padding: 8pt;
  text-align: center;
}

/* Shop */

.shop {
  padding-top: 12pt;
  padding-bottom: 12pt;
  width: 256pt;
  overflow: hidden;
}

.shopItem {
  display: flex;
  padding-bottom: 8pt;
}

.description {
  padding-left: 8pt;
  font-size: 10pt;
  width: 180pt;
}

.shopEmoji {
  width: 24pt;
  font-size: 20pt;
}

.description {
  padding-left: 4pt;
  font-size: 10pt;
  width: 180pt;
}

.cost {
  padding-left: 2pt;
  text-align: right;
  width: 36pt;
  font-size: 10pt;
}

.refreshDescription {
  text-align: right;
}

.buy {
  z-index: 1;
  margin-left: auto;
  padding-left: 4pt;
}

/* Grid */

.grid {
  padding-top: 20pt;
  display: flex;
  justify-content: center;
  width: 240pt;
}

.row {
  display: flex;
  flex-direction: column;
}

.cell {
  font-size: 26pt;
  width: 34pt;
  height: 34pt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.symbol {
  transform-origin: top;
  cursor: pointer;
}

.symbolCounter {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10pt;
}

.moneyEarned {
  position: absolute;
  top: 20pt;
  left: 4pt;
  font-size: 12pt;
}

/* Score */
.scoreContainer {
  position: fixed;
  /* Keep the container fixed relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  /* Full viewport width */
  height: 100vh;
  /* Full viewport height */
  display: flex;
  /* Flexbox for centering */
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
}

.score {
  padding: 4pt;
  font-size: 56pt;
  font-weight: 900;
}

.trophy {
  padding: 4pt;
  padding-bottom: 120pt;
  font-size: 56pt;
  font-weight: 900;
}

.discord {
  position: fixed;
  top: 0;
  right: 0;
  margin: 4pt;
}

.progression {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.level {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: border 0.3s, background-color 0.3s;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.level.active {
  border: 2px solid #007bff;
}

.level.unbeaten {
  color: lightgrey;
  cursor: not-allowed;
}

.level.unbeaten:not(.active) {
  pointer-events: none;
}

.level.beaten {
  background-color: #d4edda;
}

.level.beaten:hover {
  background-color: #c3e6cb;
}

.level-reward {
  order: 1;
}

.level-name {
  order: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.level-highscore {
  order: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .level-name {
    max-width: 25px;
    /* display: none; */
  }

  .level-highscore {
    max-width: 25px;
  }

  .wipe-button {
    white-space: normal;
    word-break: break-word;
    max-width: 75px;
  }
}



.wipe-button {
  text-align: center;
  padding: 2px 3px;
  font-size: 10pt;
  border-radius: 2px;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.wipe-button:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}

.wipe-button:active {
  background-color: #ff6347;
  transform: scale(0.95);
}

/* Animations */

@keyframes blurStart {
  0% {
    filter: blur(0px);
  }

  100% {
    filter: blur(6px);
  }
}

@keyframes scoreIn {
  0% {
    transform: translateY(-100vh);
  }

  80% {
    transform: translateY(0pt);
  }

  90% {
    transform: translateY(-8pt);
  }

  100% {
    transform: translateY(0pt);
  }
}

@keyframes startSpin {
  0% {
    transform: scaleY(1) translateY(0);
  }

  100% {
    transform: scaleY(0.5) translateY(90pt);
  }
}

@keyframes spin {
  0% {
    transform: scaleY(0.25) translateY(-70pt);
  }

  50% {
    transform: scaleY(1.4) translateY(0);
  }

  100% {
    transform: scaleY(0.5) translateY(90pt);
  }
}

@keyframes endSpin {
  0% {
    transform: scaleY(0.5) translateY(-90pt);
  }

  100% {
    transform: scaleY(1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4pt);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }

  25% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(-1);
  }

  75% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(2pt);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-2pt);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shakeRocket {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(2pt, -2pt);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-2pt, 2pt);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes openShop {
  0% {
    transform: translateY(500pt);
    opacity: 0;
  }

  80% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(4pt);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes closeShop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(500pt);
    opacity: 0;
  }
}

@keyframes fadeOutMoveDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(16pt);
  }

  100% {
    opacity: 0;
    transform: translateY(16pt);
  }
}

/* Misc */

.hidden {
  display: none;
}

/* Settings */

.open-settings {
  position: fixed;
  top: 1;
  right: 0;
  margin: 4pt;
}

.settings-box {
  border: 1px solid #ccc;
  padding: 20pt;
  width: 256pt;
  overflow: hidden;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.settings-box input,
.settings-box textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settings-box button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.settings-box button:last-child {
  margin-right: 0;
}

.settings-box button:hover {
  background-color: #0056b3;
}

.settings-box .button-container {
  display: flex;
  justify-content: flex-end;
}

.interactive-emoji {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
}
.interactive-emoji:hover {
  transform: scale(1.25);
}