body {
  font-size: 24pt;
  letter-spacing: 1pt;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.content {
  display: grid;
  grid-template-columns: 50pt auto;
}

.attribs-row {
  display: grid;
  grid-template-columns: 34pt 174pt 80pt;
}

.equips-row {
  display: grid;
  grid-template-columns: min-content min-content 140pt 80pt;
}

.inventory-row {
  display: grid;
  grid-template-columns: min-content 174pt 80pt;
}

.enemy-select-row {
  display: grid;
  grid-template-columns: min-content 174pt 80pt;
}

.combat-view {
  display: grid;
  grid-template-columns: max-content max-content;
}

.combat-grid-item {
  max-width: 174pt;
  width: 174pt;
  padding-bottom: 12pt;
}

.combat-grid-item.log {
  padding-top: 16pt;
  font-size: 12pt;
}
.combat-grid-item.character {
  font-size: 56pt;
}

.combat-control {
  padding-bottom: 12pt;
}

.full-width-item {
  grid-column-start: 1;
  grid-column-end: 3;
}

.combat-detail-grid {
  display: grid;
  grid-template-columns: 32pt auto;
}

.hidden {
  display: none;
}
